@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  width: 100%;
  max-width: 1600px;
  background-color: #ffffff;
  margin: 0 auto;
}

/* common styles */
.rounded {
  border-radius: 50%;
}

.rounded-100 {
  border-radius: 100px;
}

.h-44 {
  height: 44px;
}

.h-52 {
  height: 52px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
}

li {
  list-style: none;
}

/* navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 120px;
}

.navbar img {
  width: 139px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a:hover {
  color: #469165;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

button:hover {
  background-color: #36774a;
}

/* hero section */
.pill-badge {
  color: #469165;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  gap: 6px;
  justify-content: center;
  padding: 8px 12px;
  background-color: #fff;
  max-width: fit-content;
  margin: 0 auto;
}

#hero {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 70px 120px 134px 120px;
  background: url("../assets/hero-bg.png") no-repeat center;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
}

.hero-container .hero-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 16px;
}

#hero .hero-container .hero-top h1 {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  max-width: 770px;
  color: #fff;
  line-height: 84px;
}

#hero .hero-top h1 span {
  color: #30b868;
}

#hero .hero-container .hero-top p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  line-height: 36px;
  margin-top: 8px;
}

#hero .hero-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

button {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.cta-button {
  border: none;
  background-color: #469165;
}

.outline-button {
  border: 1px solid #fff;
  background-color: transparent;
  height: 52px;
}

button[class="outline-button"]:hover {
  background-color: #ffffff;
  color: #000000ff;
}

/* note and structure section */
#note-card .note-container {
  padding: 58px 120px 120px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 44px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #fbfbfb;
}

#note-card .note-container .top-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#note-card .note-container .cards {
  height: 300px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

#note-card .note-container .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 24px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

/* solution section */
#solution .solution-container {
  padding: 120px;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#solution .solution-container .left img {
  width: 600px;
  height: 600px;
}

#solution .solution-container .right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

#solution .solution-container .right .right-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.right-checklist {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checklist-item {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: flex-start;
}

/* ready container */
.ready-banner-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 80px 40px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f7f6f2;
  border-radius: 12px;
  margin-bottom: 120px;
}

.ready-banner-container .top-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ready-banner-container .top-div p {
  line-height: 24px;
}

.ready-banner-container .bottom-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ready-banner-container .bottom-div button {
  margin: 0 auto;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}

/* footer section */
footer {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #001931;
  padding: 120px 120px 30px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

footer .top-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer-logo {
  width: 139px;
}

footer .social-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 220px;
}

footer .social-links p {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

footer .social-links .social-icons {
  display: flex;
  gap: 16px;
}

footer .social-links .social-icons img {
  width: 20px;
  cursor: pointer;
}

footer .bottom-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  border-top: 1px solid #2e4256;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
