@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  width: 100%;
  max-width: 1600px;
  background-color: #ffffff;
  margin: 0 auto;
}

/* common styles */
.rounded {
  border-radius: 50%;
}

.rounded-100 {
  border-radius: 100px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
}

/* navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 120px;
}

.navbar img {
  width: 139px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a:hover {
  color: #469165;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

button:hover {
  background-color: #36774a;
}

/* hero section */
.pill-badge {
  color: #469165;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  gap: 6px;
  justify-content: center;
  padding: 8px 12px;
  background-color: #fff;
  max-width: fit-content;
  margin: 0 auto;
}

#hero {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 70px 120px 134px 120px;
  background: url("../assets/hero-bg.png") no-repeat center;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
}

.hero-conatiner .hero-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 16px;
}

#hero .hero-container .hero-top h1 {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  max-width: 770px;
  color: #fff;
  line-height: 84px;
}

#hero .hero-top h1 span {
  color: #30b868;
}

#hero .hero-container .hero-top p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  line-height: 36px;
  margin-top: 8px;
}

#hero .hero-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  ailgn-items: center;
}

button {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.cta-button {
  border: none;
  background-color: #469165;
}

.outline-button {
  border: 1px solid #fff;
  background-color: transparent;
}

button[class="outline-button"]:hover {
  background-color: #ffffff;
  color: #469165;
}
