@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  width: 100%;
  max-width: 1600px;
  background-color: #ffffff;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 120px;
}

.navbar img {
  width: 139px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a:hover{
    color: #469165;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.navbar button {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  background-color: #469165;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #36774a;
}

/* hero section */